/* ---General--- */
:root {
    --white:                #fbfbfb;
    --black:                #121212;
    --orange:               #ff7300;
}

*{
    margin:                 0;
    padding:                0;
    box-sizing:             border-box;
}

a{
    text-decoration:        none;
    color:                  var(--black);
}

html{
    font-family:           "Poppins";
    overflow-x:             hidden;
    background-color:       var(--white);
}

::-moz-selection {
     background:            var(--orange); 
     color:                 var(--white);
}
::selection { 
    background:             var(--orange); 
    color:                  var(--white);
}

/* ---Navbar--- */

nav{
    width:                  100vw;
    height:                 104px;
    background-color:       transparent;
    position:               fixed;
    left:                   0;
    right:                  0;
    top:                    0;
    margin:                 0 auto;
    z-index:                999;
    transition:             box-shadow 0.6s;
}

.navbar{
    position:               relative;     
    left:                   0;
    right:                  0;
    top:                    24px;
    margin:                 0 auto;
    display:                flex;
    flex-direction:         row;
    flex-wrap:              none;
    align-items:            center;
    justify-content:        space-between;
    width:                  83.4vw;
    color:                  var(--black);
    transition:             all 0.3s;
}

.navbarLogo{
    display:                flex;
    align-items:            center;
    justify-content:        space-between;
    width:                  212px;
    margin-left:           -48px;
}

.navbarLogoImg{
    width:                  72px;
    height:                 74px;
}

.navbarLogoText{
    font-size:              38px;
    font-weight:            400;
}

.navItem{
    font-size:              32px;
    font-weight:            300;
    margin-left:            80px;
    position:               relative;
}

.navItem::after{
    background:             none repeat scroll 0 0 transparent;
    bottom:                -10px;
    content:                "";
    display:                block;
    height:                 3px;
    left:                   50%;
    position:               absolute;
    background:             var(--orange);
    transition:             all 0.3s;
    width:                  0;
}

.navItem:last-child::after{
    display:                none;
}

:hover::after{ 
    width:                  80%; 
    left:                   10%; 
}

.navItem:last-child{
    color:                  var(--orange);
    position:               relative;
    left:                   0;
    white-space:            nowrap;
    margin:                 0;
    transition:             all 0.3s;
}

.callNowGroup{
    width:                  223px;
    display:                inline;
    margin-left:            40px;
    margin-right:           32px;
}

.callNowIcon{
    display:                inline;
    position:               relative;
    opacity:                0;
    left:                   32px;
    transition:             all 0.3s;
}

.callNowGroup:hover .callNowIcon{
    opacity:                1;
    left:                   16px;
}

.callNowGroup:hover .navItem{
    opacity:                1;
    margin-left:            16px;
    margin-right:          -16px;
}

/* ---Language Button--- */

#languageButton{
    position:               fixed;
    opacity:                0.6;
    background-color:       var(--orange);
    bottom:                 32px;
    right:                  32px;
    width:                  44px;
    height:                 44px;
    border-radius:          100%;
    transition:             opacity 0.5s;
}

#languageButtonText{
    color:                  var(--white);
    position:               relative;
    top:                    5px;
    left:                   10px;
}

#languageButton:hover{
    opacity:                1;
}

/* ---Map--- */
#map{
    margin-top:             128px;
    text-align:             right;
    height:                 20vw;
    width:                  100vw;
}

.gmap_canvas {
    overflow:               hidden;
    background:             none!important;
    height:                 20vw;
    width:                  100vw;
}

#gmaps{
    height:                 20vw;
    width:                  100vw;
}

.fax a{
    cursor: default;
}

/* ---ContactInfo--- */

.container{
    width:                  80vw;
    height:                 340px;
    left:                   0;
    right:                  0;
    margin:                 64px auto -64px;
    display:                grid;
    grid-template:          1fr 1fr 1fr / 1fr 1fr;
}

.contactInfo img{
    max-width:              32px;
    max-height:             32px;
    margin-right:           16px;
}

.contactInfo a{
    font-size:              32px;
}

#adress{
    margin-top:             24px;
    line-height:            64px;
}

.adress img{
    margin-top:             -104px;
}

.adress{
    margin:                 64px 0 0 80px;
}

.phone2{
    margin-left:            80px;
}

.contactInfo{
    display:                flex;
    align-items:            center;
}

/* ---Footer--- */

footer{
    background-color:       var(--black);
    color:                  var(--white);
    margin-top:             200px;
    padding:                32px 0 64px 20px;
    display:                grid;
    width:                  100vw;
    grid-template-columns:  1fr 1fr 1fr;
}

h2{
    font-size:              32px;
    font-weight:            400;
    margin-bottom:          16px;
}

h2::after{
    content:                "";
    position:               relative;
    background:             none repeat scroll 0 0 transparent;
    display:                block;
    width:                  100%;
    height:                 3px;
    bottom:                 0;
    background:             var(--orange);
    transition:             all 0.3s;
}

h2:hover::after{
    left:                   0;
    width:                  99%;
}

h3{
    font-size:              28px;
    font-weight:            300;
}

.footerSection p{
    font-size:              20px;
    font-weight:            300;
    width:                  476px;
}

h3 a{
    display:                block;
    position:               relative;
    top:                   -40px;
    left: 40px;
    font-size:              28px;
    font-weight:            300;
    color:                  var(--white);
    width:                  460px;
}

.footerSection{
    display:                flex;
    flex-direction:         column;
    width:                  1fr;
}

.footerLogo{
    display:                inline;
    margin-top:            -24px;
}

.footerLogoText{
    position:               relative;
    top:                   -76px;
    left:                   5vw;
    width:                  634px;
    margin:                 0;
}

.footerMenuSection{
    display:                flex;
    flex-direction:         column;
    align-items:            center;
}

.footerMenuSection a{
    font-size:              28px;
    font-weight:            300;
    color:                  var(--white);
    margin-bottom:          16px;
}

.footerText{
    margin:                -56px 0 0 96px;
    width:                  476px;
}

.footerIcon{
    display:                inline;
}

.footerContactSection{
    margin-top:             20px;
}