/* ---Documents---*/

.container{
    display:                grid;
    width:                  90vw;
    grid-template:          1fr 1fr / 1fr 1fr 1fr;
    margin:                 156px auto 0;
    row-gap:                80px;
}

.miniContainer{
    left:                   0;
    right:                  0;
    margin:                 0 auto;
    width:                  20vw;
    height:                 20vw;
    display:                flex;
    flex-direction:         column;
    align-items:            center;
    justify-content:        center;
    background-color:       #FFF;
    box-shadow:             0 0 32px rgba(0, 0, 0, 0.02);
    transition:             all .3s ease-in-out;
}

.miniContainer p{
    font-size:              2rem;
    font-weight:            400;
    text-align:             center;
    width: 100%;
    padding:                1rem;
}

.miniContainer img{
    left:                   0;
    right:                  0;
    margin:                 0 auto;
    width:                  32px;
    margin-top:             16px;
    transition:             all .3s ease-in-out;
}

.miniContainer:hover{
    box-shadow:             0 0 32px rgba(255, 111, 0, .2);
    transform:              translateY(-8px);
    background-color:       #FF6F00;
    color:                  white;
}

.miniContainer:hover img{
    filter:                 invert(100%);
}

@media screen and (max-width: 1400px){
    .miniContainer{
        width:                  22vw;
        height:                 30vw;

    }

    .miniContainer p{
        font-size:              1.5rem;
    }
}

@media screen and (max-width: 768px){
    .miniContainer{
        width:                  24vw;
        height:                 40vw;
    }

    .miniContainer p{
        font-size:              1.2rem;
    }
    
    .miniContainer img{
        width:                  20px;
        margin-top:             16px;
    }
}

@media screen and (max-width: 500px){
    .miniContainer{
        width:                  100%;
        height:                 auto;
        padding-bottom: 16px;
    }

    .miniContainer p{
        font-size:              1.2rem;
    }
    
    .miniContainer img{
        width:                  20px;
        margin-top:             16px;
    }

    .container{
        padding: 0 32px;
        gap:                    32px 20px;
        grid-template:          1fr 1fr 1fr 1fr /  1fr 1fr;
    }
}

@media screen and (max-width: 360px){
    .miniContainer{
        width:                  100%;
        height:                 220px;
        padding-bottom:         16px;
    }

    .miniContainer p{
        font-size:              1.2rem;
    }
    
    .miniContainer img{
        width:                  20px;
        margin-top:             16px;
    }

    .container{
        gap:                    24px;
        display:                flex;
        flex-direction:         column;
    }
}