/* ---Main Video--- */
#mainVideo{
    display:                block;
    margin:                 128px auto 0 auto;
    width:                  80vw;
    z-index:                5;
    transition:             all 0.6s;
}

.playButton{
    user-select:            none;
    display:                none;
    position:               absolute;
    left:                   0;
    right:                  0;
    top:                    14vw;
    margin:                 128px auto 0 auto;
    z-index:                6;
    border-radius:          100%;
    box-shadow:             0 0 32px rgba(139, 56, 0, 0.65);
}

.fadeIn{
    display:                unset;
    animation:              fadeIn 0.3s ease-in-out forwards;
}

.fadeOut{
    display:                unset;
    animation:              fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn{
    0%  {display:  none;    opacity:  0;}
    1%  {display:  unset;   opacity:  0;}
    100%{display:  unset;   opacity:  1;}
}
@keyframes fadeOut{
    0%  {display:  unset;   opacity:  1;}
    99% {display:  unset;   opacity:  0;}
    100%{display:  none;    opacity:  0;}
}

/* ---Slider--- */
.imageWrapper{
    user-select:            none;
    position:               absolute;
    width:                  580px;
    height:                 318px;
    right:                  7vw;
    bottom:                 3vh;
    overflow:               hidden;
    border:                 10px solid var(--white);
}

.sliderImage{
    /* transform:              translateX(16px * 3); */
    user-select:            none;
    max-height:             427px;
    min-width:              616.883px;
    max-width:              616.883px;
    transform:              translateY(-80px);
    display:                inline;
    z-index:                998;
}

.slide{
    user-select:            none;
    display:                flex;
    transition:             all 1s;
}

.sliderButtons{
    cursor:                 pointer;
    user-select:            none;
    position:               relative;
    right:                  0;
}

.sliderButton img{
    width:                  72px;
}

.sliderButton{
    user-select:            none;
    width:                  105px;
    height:                 94.5px;
    margin-top:            -142px;
    background-color:       var(--orange);
    position:               absolute;
    z-index:                998;
    transform:              translateY(-80px);
    transition:             filter 0.05s;
}

.sliderButton:active{
    filter:                 brightness(0.85);
}

.buttonLeft{
    padding-left:           13px;
    right:                  112px;
}

.buttonRight{
    padding-left:           19px;
    right:                  0;
}

/* ---Sections--- */
.firstSectionHeader{
    margin:                 80px 0 0 9.2vw;
}

h1{
    margin:                 72px 0 0 9.2vw;
    font-size:              3.5rem;
    font-weight:            500;
}

p{
    font-size:              2rem;
    font-weight:            400;
    position:               relative;
    width:                  80vw;
    left:                   0;
    right:                  0;
    margin:                 32px auto 0 auto;
}

.sectionContainer p{
    margin:                -10px 0 0 0;
    width:                  780px;
}

.sectionContainer{
    width:                  80vw;
    left:                   0;
    right:                  0;
    margin:                 40px auto 0 auto;
    display:                flex;
    align-items:            flex-start;
    justify-content:        space-between;
    gap:                    2vw;
}

.sectionContainer video{
    width:                  700px;
    border-radius:          4px;
}

/*Videos*/
.videosContainer{
    width:                  80vw;
    margin:                 32px auto 0;
    display:                flex;
    flex-wrap:              wrap;
    gap:                    32px;
    justify-content:        space-between;
    border-radius:          4px;
}

/* ---Products--- */
.container{
    padding-top:            40px;
    width:                  80vw;
    left:                   0;
    right:                  0;
    margin:                 0 auto;
    display:                grid;
    grid-template:          1fr 1fr / 1fr 1fr 1fr 1fr;
    gap:                    104px 16px;
}

.productContainer{
    position:               relative; 
    width:                  310px;
    height:                 290px;
    transition:             box-shadow 0.6s, transform 0.3s;
    overflow:               hidden;
    display:                grid;
    align-items:            center;
    border-radius:          4px;
}

.productContainer:hover .productsImage{
    filter:                 brightness(0.8);
}

.productContainer:hover .productsText{
    text-shadow:            0 0 16px rgba(0, 0, 0, 0.8);
    opacity:                0;
}

.productContainer:hover{
    box-shadow:             0 0 32px rgba(0, 0, 0, 0.3);
    transform:              translateY(-8px);
}

.productsImage{
    object-fit:             cover;
    min-width:              100%;
    max-width:              120%;
    min-height:             100%;
    max-height:             120%;
    filter:                 brightness(0.5);
    transition:             filter 0.3s;
    grid-column:            1;
    grid-row:               1;
    object-fit:             cover;
}

.productsText{
    margin:                 0 auto;
    font-size:              2.5rem;
    font-weight:            400;
    width:                  260px;
    color:                  var(--white);
    text-align:             center;
    transform:              translateY(-8px);
    text-shadow:            0 0 16px rgba(0, 0, 0, 0.4);
    transition:             text-shadow 0.3s;
    transition:             opacity 0.4s;
    grid-column:            1;
    grid-row:               1;
}

@media screen and (max-width: 1600px){
    .container{
        grid-template:          1fr 1fr 1fr/ 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1400px){
    /* ---Main Video--- */
    #mainVideo{
        margin:                 104px auto 0 auto;
        width:                  80vw;
    }

    .playButton{
        top:                    104px;
        transform-origin:       center;
        transform:              scale(.5);
    }

    /* ---Slider--- */
    .imageWrapper{
        width:                  406px;
        height:                 222px;
        right:                  6vw;
        top:                    40vw;
        border:                 8px solid var(--white);
    }

    .sliderImage{
        width:                  442px;
        height:                 242px;
    }

    .sliderButton img{
        width:                  48px;
    }

    .sliderButton{
        width:                  80px;
        height:                 70px;
        margin-top:             -100px;
    }

    .buttonLeft{
        right:                  88px;
    }

    /* ---Sections--- */
    .firstSectionHeader{
        margin:                 88px 0 0 9.2vw;
        font-size:              4rem;
    }

    h1{
        margin:                 80px 0 0 9.2vw;
        font-size:              3rem;
    }

    p{
        font-size:              1.5rem;
    }

    .sectionContainer p{
        margin:                -10px 0 0 0;
        width:                  780px;
        font-size:              1.25rem;
    }

    .sectionContainer{
        width:                  80vw;
        align-items:            center;
    }

    .sectionContainer video{
        width:                  500px;
    }

    /* ---Products--- */
    .container{
        grid-template:          1fr 1fr / 1fr 1fr 1fr 1fr;
        gap:                    24px 16px;
    }

    .productContainer{
        width:                  217px;
        height:                 203px;
    }

    .productsText{
        font-size:              2rem;
        width:                  217px;
        transform:              translateY(-10%);
    }    
}

@media screen and (max-width: 1150px){
    .productContainer{
        width:                  175px;
        height:                 164px;
    }

    .productsText{
        font-size:              2rem;
        width:                  175px;
    }    
}

@media screen and (max-width: 900px){
    /* ---Main Video--- */
    #mainVideo{
        margin:                 0 auto 0 auto;
        width:                  120vw;
        margin-left:            -10vw;
    }

    .playButton{
        top:                    0px;
        margin-top:             10vw;
        transform:              scale(.33);
    }

    /* ---Slider--- */
    .imageWrapper{
        width:                  60vw;
        height:                 33vw;
        right:                  3vw;
        top:                    53vw;
        border:                 6px solid var(--white);
    }

    .sliderImage{
        width:                  60vw;
        min-width:              60vw;
        height:                 33vw;
    }

    .sliderButton img{
        width:                  32px;
    }

    .sliderButton{
        width:                  48px;
        height:                 48px;
        margin-top:             0;
    }

    .buttonLeft{
        right:                  auto;
        bottom:                 8px;
        padding-left:           6px;
    }

    .buttonRight{
        bottom:                 8px;
        padding-left:           8px;
    }

    /* ---Sections--- */
    .firstSectionHeader{
        margin:                 29vw 0 0 0px;
        font-size:              4rem;
    }

    section:first-of-type p{
        margin-top:             4px;
    }

    h1{
        margin:                 20px 0 8px;
        text-align:             center;
        font-size:              3rem;
    }

    p{
        text-align:             center;
        font-size:              1.25rem;
    }

    .sectionContainer p{
        margin:                -10px 0 0 0;
        width:                  80vw;
        font-size:              1.25rem;
    }

    .sectionContainer{
        flex-direction:         column;
        width:                  80vw;
        justify-content:        center;
        gap:                    32px;
        margin:                 0 auto;
    }

    .sectionContainer video{
        width:                  100%;
    }

    /* ---Products--- */
    .container{
        padding-top:            8px;
        grid-template:          1fr 1fr 1fr 1fr / 1fr 1fr;
        gap:                    16px 16px;
    }

    .productContainer{
        width:                  calc(40vw - 16px);
        height:                 calc(40vw - 16px);
    }

    .productContainer:hover .productsImage{
        filter:                 brightness(0.8);
    }
    
    .productContainer:hover .productsText{
        text-shadow:            0 0 16px rgba(0, 0, 0, 0.8);
        opacity:                0;
    }
    
    .productContainer:hover{
        box-shadow:             0 0 32px rgba(0, 0, 0, 0.3);
        transform:              scale(1.075);
    }

    .productsText{
        font-size:              1.5rem;
        width:                  calc(40vw - 16px);
        transform:              translateY(-10%);
    }    
}